<form method="post" action="{{ path('app_stage_delete_admin', {'id': stage.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette scène?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stage.id) }}">
    <button class="btn btn-danger bi bi-trash">{{ button_label|default('')}}</button>
</form>
