<form method="post" action="{{ path('app_genre_delete_admin', {'id': genre.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer ce genre musical?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
     <button class="btn btn-danger bi bi-trash">{{ button_label|default('')}}</button>
</form>
