{% extends 'front/base.html.twig' %}

{% block legalNoticeActive %}active{% endblock %}

{% block title %}Partenaires{% endblock %}

{% block main %}    
    <div class="container-sponsor medium-blue-bg">
        <h2 class="page-title text-center adumu-font">Nos partenaires</h2>
        <div class="row">
            <div class="col-12 text-center">
                <div class="content py-3"> 
                    <div class="pb-3 mt-3"> 
                        <div class="sponsor-card bg-white mx-2"> 
                            <div class="sponsor-card-body px-3">                                 
                                <div class="sponsor-logos d-flex flex-wrap justify-content-center">
                                    {% for sponsor in sponsors %}
                                        <div class="sponsor-logo mr-3 mb-3">
                                            <img src="{{ sponsor.icon }}" alt="{{ sponsor.name }}">
                                        </div>
                                        <!-- Close the row and open a new one every 4 sponsors -->
                                        {% if loop.index % 4 == 0 %} 
                                            </div><div class="sponsor-logos d-flex flex-wrap justify-content-center">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
