{% extends 'base.html.twig' %}

{% block title %}Infos pratiques{% endblock %}

{% block body %}
<main>
        
        <div class="container-informations medium-blue-bg">
            <h2 class="page-title">Infos pratiques</h2>
            <div class="row p-5 gx-0 background-img-bg">

                <!-- Image -->
                <div class="informations-image col-lg-6">
                    <img src="{{asset('/images/info-picture.jpg')}}" class="img-fluid" alt="Photo festival">
                </div>

                <!-- Main content -->
                <div class="col-lg-6">
                    <article class="informations-content bg-white open-font dark-blue-txt p-5">
                        <h2>OUVERTURE DES PORTES</h2>
                        <p>
                            <strong>O'Festival 2024 ouvrira ses portes du X au X. Il aura lieu ........ L'entrée se fera
                                par
                                .....(10 minutes à pied de la gare SNCF)</strong>
                        </p>
                        <p>
                            <strong>Horaires d'ouvertures O'Festival</strong>
                            <br>
                            OUVERTURE > VENDREDI X à 18h00
                            <br>
                            FERMETURE > DIMANCHE X à 00h00
                        </p>
                        <p><strong> 👉 CONSEIL : ACHETER VOTRE PASS <a href="{{path('ticketBrowse')}}">ICI</a></strong></p>
                        <p>
                            <strong>
                                Situé idéalement O'Festival vous régalera de bon son tout l'été
                            </strong>
                        </p>
                        <div class="informations-map">
                            <img src="{{asset('images/info-map.png')}}" alt="information durée transport carte">
                        </div>
                    </article>
                </div>
            </div>

            <!-- Contact form -->
            <div class="container-contact p-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="contact-title text-center mt-md-5 mt-3 contact-form light-yellow-txt">
                            <h2>CONTACT</h2>
                        </div>
                        <div class="contact-content">
                            <form>
                                <!-- Name field -->
                                <div class="form-group mb-3">
                                    <label for="name" class="light-yellow-txt">Nom</label>
                                    <input type="text" class="form-control open-font" id="name"
                                        placeholder="Entrez votre nom">
                                </div>

                                <!-- Emai field -->
                                <div class="form-group mb-3">
                                    <label for="email" class="light-yellow-txt">Email</label>
                                    <input type="email" class="form-control open-font" id="email"
                                        placeholder="Entrez votre email">
                                </div>

                                <!-- Message field -->
                                <div class="form-group mb-3">
                                    <label for="message" class="light-yellow-txt">Message</label>
                                    <textarea class="form-control open-font" id="message" rows="3"></textarea>
                                </div>

                                <!-- Send Button -->
                                <div class="position-relative d-flex align-items-center justify-content-center p-3">
                                    <button type="submit"
                                        class="btn btn-primary light-yellow-bg dark-blue-txt">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
