{% extends 'back/base.html.twig' %}

{% block title %}Nouveau Créneau{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <h2 class="text-center my-5 fw-bold display-5">Créer un Nouveau Créneau</h2>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <!-- Card -->
                    <div class="col-md-8">
                        <a href="{{ path('app_slot_list_admin') }}" class="btn btn-primary fw-bold mb-4">
                            <i class="bi bi-arrow-left"></i> Retour à la programmation
                        </a>
                        <div class="card">
                            <!-- Card title -->
                            <div class="card-header fs-2 fw-bold">
                                <i class="bi bi-calendar3 me-2"></i>Nouveau Créneau
                            </div>
                            <div class="card-body">
                                <!-- Include the form for creating a new slot -->
                                {{ include('back/slot/_form.html.twig', {'button_label': 'Créer le créneau'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
