/** --------- VARIABLES --------- **/

:root {
    --dark_blue: #05608a;
    --medium_blue: #4e7ba3;
    --light_blue: #65C6DC;
    --dark_yellow: #FABB25;
    --yellow: #efdca1;
    --light_yellow: #EECE6A;
    --dark_green: #03a35f;
    --light_green: #009060;    
    --font_adumu: 'Adumu', sans-serif;
    --font_roboto: 'Roboto Condensed', sans-serif;
}

::placeholder {
    color: lightslategrey;
    font-style: italic;
}


/** --------- FONT --------- **/

.adumu-font {
    font-family: var(--font_adumu);
}
.roboto-font,
.btn {
    font-family: var(--font_roboto);
    text-transform: uppercase;
    font-weight: 800;

}
.open-font {
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 3.5rem; 
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

/** --------- COLORS --------- **/

.dark-blue-txt {
    color: var(--dark_blue)
}
.light-blue-txt {
    color: var(--light_blue)
}
.light-green-txt {
    color: var(--light_green)
}
.light-yellow-txt {
    color: var(--light_yellow)
}
.light-blue-bg {
    background-color: var(--light_blue);    
}
.light-green-bg {
    background-color: var(--light_green);
}
.light-yellow-bg {
    background-color: var(--light_yellow);
}  
.medium-blue-bg {
    background-color: var(--medium_blue);    
}
.dark-blue-bg {
    background-color: var(--dark_blue);
}  
.dark-yellow-bg {
    background-color: var(--dark_yellow);
}

.background-img-bg{
    background-image:url(../../images/back-ground.png);
    background-size: cover;
}
.background-img-fixed-bg{
    background-image:url(../../images/back-ground.png);
    background-size: cover;
    background-attachment: fixed;
}

/** --------- GENERAL --------- **/

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}    
body {
    display: flex;
    flex-direction: column;
}
.page-title {
    line-height: 1.5em;
    color: white;
    padding: 2.5% 0 2.5% 0;
    text-align: center;
}

/** --------- NAV BAR --------- **/

.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh; 
    font-size: 2rem;  
    position: relative;
}

.nav-menu{
    display: flex;
    margin: 0;
}

.nav-link:hover,
.nav-link:focus {
    color: var( --light_yellow);
}
.hamburger {
    display: none;
    
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.navbar-logo img {
    height: 10vh;
}


/** --------- BUTTONS --------- **/

.btn-primary {
    padding: 1%;
    font-size: 1.75em;
    width: 30%;
    border: none;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
    margin-bottom: 4%;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--yellow);
    color: var(--dark_blue);
    transform: scale(1.05)
}
.btn-secondary {
    width: auto;
    height: auto;
    text-align: center;
    white-space: normal;
    color: black;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-left: 10px;
   
}
.btn-day:hover,
.btn-day:focus {
    background-color: var(--light_yellow);
    color: white;  
    transform: scale(1.05)  
}
.btn-stage:hover,
.btn-stage:focus {
    background-color: var(--dark_green);
    color: white;   
    transform: scale(1.05)  
}
.btn-genre:hover,
.btn-genre:focus {
    background-color: var(--medium_blue);
    color: white;  
    transform: scale(1.05)   
}

/** --------- INDEX PAGE --------- **/

/* HOME VIDEO */
.container-home-video {
    height: 70vh;
}
.home-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.home-title{
    z-index: 2;
}

/* SLIDE LINE-UP */
.home-programming-slide {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.home-programming-slide-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; 
}

.home-programming-slide-artist {
    flex: 0 0 25%; 
    box-sizing: border-box;
    padding: 0 0.25rem; 
}
.home-programming-slide {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    transition: transform 0.3s ease;
}

.home-programming-slide-artist {
    flex: 0 0 auto;
    width: 25%; /* Ajustez cette valeur selon le nombre d'éléments par page */
    box-sizing: border-box;
}

.home-programming-slide-prev,
.home-programming-slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 3rem;
    color: var(--yellow);
    transition: 0.3s;
    text-decoration: none;
}

.home-programming-slide-prev:hover,
.home-programming-slide-next:hover {
    color: var(--dark_yellow);
}

.home-programming-slide-prev {
    left: 0.5%;
}

.home-programming-slide-next {
    right: 0.5%;
}


/** --------- CARD --------- **/

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 85%;
}
.img-zoom {
    overflow: hidden;
}
.img-zoom img {
    width: 100%;
    transition: transform .1s;
}
.ticket-card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-zoom:hover img {
    transform: scale(1.1);
}
.card h3 {
    font-size: 3rem;
}
.card p {
    font-size: 0.9em;
}

/** --------- TICKETING --------- **/

.container-ticketing {
    padding: 0 10% 0 10%;
}
.ticket-card-info-festival-goer,
.ticket-card-info-price{
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 
}

.ticket-card-image{
    height: 40%;
}


.ticket-card-info-price{
    font-size: 2.25rem;
    color: var(--dark_yellow);
}

.ticket-card-content h3{
    width: 80%; 
    margin: auto;
    font-size: 1.5rem;
    text-transform: none;
}
.ticket-card-content h3:last-child {
    border-bottom: 2px solid var(--dark_yellow);
}

.ticket-card-content{
    font-size: 1.6rem;
}
.ticket-card-content .btn{
    width: 75%;
    font-size: 1rem;
}

/** --------- ARTIST --------- **/

.container-artist {
    padding: 0 15% 0 15%;
} 
.artist-image img,
.informations-image img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.artist-informations{
    background-color: white;
    height: 100%;
}  
.artist-informations-name{
    font-size: 2rem;
} 
.artist-informations-show-day,
.artist-informations-stage{
    font-size: 1.25rem;
    margin-bottom: 0;
    text-shadow: none;
}
.artist-informations-genre {
    padding: 0.75rem 1.5rem;
}  
.artist-informations-description {
    height: 300px;
    overflow-y: auto;
} 
.artist-informations-social-networks i{
    font-size: 2.5rem;
}
.artist-video {
    height: 75vh;
}

/** --------- SOCIAL-NETWORKS --------- **/


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-size: 2rem;
}

.social-icons,
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.nav-link:hover {
    color: var(--light_yellow);
}

/** ------------ INFORMATIONS -----------**/

.bloc-info-img {
    width: 100%;
    position: relative;
}
.info-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.content-info {
    padding: 30px 50px;
}
.informations-map, figure {
    margin: 0;
    display: flex;
    justify-content: center;
}
.informations-map > img {
    height: 240px;
}
.informations-content{
    height: 100%;
}


/** ------------ ERROR 404 -----------**/

.container-error404{
    height: 100vh;
}

.error404-content{
    position: relative;
}
.error404-img {
    object-fit: contain;
    height: 300px;
}
.error404-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

/** ------------ CONNEXION -----------**/

.container-connextion{
    height: 100vh;
}

/** ------------ RESPONSIVE -----------**/
     
@media(max-width: 1375px){
    .nav-menu,
    .btn{
        font-size: 1.2rem;
    }
    .ticket-card-content{
        font-size: 1rem;
    }
    .ticket-card-content h3{
        font-size: 1rem;
    }
    .ticket-card-info-price{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1040px) {
    .nav-menu {
        position: absolute;
        z-index: 999;
        left: -300vh;
        top: 100%;
        background-color: var(--light_blue);
        width: 100%;
        height: 50vh;
        text-align: center;
        transition: 0.3s;
        background-image:url(../../images/back-ground.png);
        flex-direction: column
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin-top: 2.5rem;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .artist-video {
        width: 100vh; 
        height: 50vh; 
    }
    .h2{
        font-size: 2rem;
    }
    .card h3 {
        font-size: 1.5rem;
    }
    .card p {
        font-size: 1rem;
    }
}

@media (max-width: 765px) {
    .info-img > img {
        height: 300px;
    }
    .informations-map > img {
        object-fit: contain;
        width: 80%;
        height: 100%;
    }
    .bloc-info-img {
        font-size: 10px;
    }
    .content-info {
        padding: 30px 40px;
    }

    h1 {
        font-size: 4.5rem; 
    }
    h2 {
        font-size: 2.5rem; 
        text-align: center;
    }
    .container-home-video {
        height: 35vh;
    }
    .home-programming-slide-artist:nth-child(n+2) {
        display: none;
    }
    .card h3 {
        font-size: 3rem;
    }
    .card p {
        font-size: 2rem;
    }
    .navbar-logo img{
        height: 6vh;
    }
    .btn{
        width: 80%;
    }
    .artist-informations-genre{
        width: auto;
    }

    .line-up-sorting .btn{
        width: auto;
    }
    .artist-informations-show-day,
    .artist-informations-stage{
        text-align: left;
    }

    .home-programming-slide-artist {
        flex: 0 0 100%; /* Une seule carte par ligne en dessous de 767px */
        box-sizing: border-box;
        padding: 0 0.25rem; /* Espacement horizontal entre les cartes */
    }
    
    .home-programming-slide-inner {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%; /* S'assure que les éléments ne débordent pas */
    }

}

@media (max-width: 710px) {
    .footer {
        flex-direction: column;
    }
    .nav-links{
        display: flex;
        flex-direction: column
    }
    .container-artist{
        padding: 0;
    }
}

@media (max-width: 400px) {
    .informations-content > h2 {
        font-size: 30px;
    }
    .informations-content > p {
        font-size: 13px;
    }
}
