<form method="post" action="{{ path('app_user_delete_admin', {'id': admin.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet administrateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin.id) }}">
    <button class="btn btn-danger bi bi-trash">{{ button_label|default('')}}</button>
</form>
