<!doctype html>
<html lang="fr">
    <head>

    </head>

    <body>
        <div class="body">
            <div class="container">
                <div class="header text-center">
                    <img src="https://ibb.co/kJFd3fg" alt="O'festival"/>
                </div>
                <div class="content">
                    <h1 class="text-center">Le Ofestival vous remercie</h1>
                    <p class="block">
                        Nous vous remercions pour votre message.
                    </p>
                    <p class="block">
                        Nous allons revenir très vite vers vous.
                    </p>
                    <div class="footer">
                        <p class="block bottom text-center">
                            Nous avons hâtes de vous retrouver ❤️
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
