<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>O'festival - Remerciements</title>
        <style>
            .container {
                max-width: 600px;
                margin: 0 auto;
                font-family: 'Adumu', Arial, sans-serif;
                color: #333;
                line-height: 1.6;
            }
            .header {
                background-color: #05608a;
                padding: 20px;
                text-align: center;
            }
            .content {
                padding: 20px;
            }
            .text-center {
                text-align: center;
            }
            .footer {
                background-color: #FABB25;
                padding: 10px;
                text-align: center;
                font-size: 14px;
                color: #002d72;
                font-weight: bold;
            }
            .block {
                margin: 20px 0;
            }
            .bottom {
                margin-top: 30px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="https://images.wakelet.com/resize?id=3KEjlHHHfSCzO068-vHRw&h=437&w=1536&q=85" alt="O'festival" width="200" height="auto"/>
            </div>
            <div class="content">
                <h1 class="text-center">O'festival vous remercie pour votre message</h1>
                <p class="block text-center">
                    Nous allons revenir très vite vers vous.
                </p>

            </div>
            <div class="footer">
                <p class="block bottom">
                    🎶️ Nous avons hâte de vous retrouver en musique 🎶
                </p>
            </div>
        </div>
    </body>
</html>
