{% extends 'front/base.html.twig' %}

{% block footerLegalNoticeActive %}light-yellow-txt{% endblock %}

{% block title %}Mentions légales{% endblock %}

{% block main %}

    <!-- Legal Notice -->
    <div class="container-legal-notice medium-blue-bg">
        <h2 class="page-title text-center adumu-font">Mentions légales</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 text-center"> 
                <div class="content py-3"> 
                    <!-- Information -->
                    <div class="pb-3 mt-3"> 
					<h4 class="text-light text-center py-2">Renseignements</h4> 
                        <p class="text-light open-font">
                            Association O'Festival
                            <br>
                            10 rue du Paradis
                            <br>
                            75000 Paris
                            <br>
                            France
                            <br>
                            01 00 00 00 00
                            <br>
                            <a href="mailto:marjorie.marcos@oclock.school" class="text-light">marjorie.marcos@oclock.school</a>
                        </p>
                        <p class="text-light open-font">
                            Association O'Festival
                            <br>
                            10 rue du Paradis
                            <br>
                            75000 Paris
                            <br>
                            France
                            <br>
                        </p>
                        <p class="text-light open-font">
                            N° licence d’entrepreneur de spectacles : X-X-XX-XXXX et X-X-XX-XXXX. Code APE : XXXXX
                            <br>
                            Siret : XXX XXX XXX XXX XX
                            <br>
                        </p>
                    </div>

                    <!-- Host -->
                    <div class="pb-3">
                        <h4 class="text-light text-center py-2">Hébergeur</h4> 
                        <p class="text-light open-font">
                            Chez O'Clock Serveur
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
