{% extends "back/base.html.twig" %}

{% block title%}Liste des forfaits{% endblock %}

{% block main%}

<div class="container">
      <!-- Titre principal -->
      <h2 class="text-center my-5 fw-bold display-5">Liste des forfaits</h2>
  
      <div class="container mt-5">
        <div class="row justify-content-center">
          <!-- Fee Card -->
          <div class="col-md-8">
            <div class="card">
              <!-- Card Title -->
              <div class="card-header d-flex justify-content-between align-items-center">
                <span class="fs-2 fw-bold">Forfaits</span>
                <button class="btn btn-success fw-bold" type="button">Ajouter un forfait</button>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <!-- Fee -->
                  <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <h6 class="fw-bold mb-0">Adulte + de 18 ans</h6>
                      </div>
                      <div class="d-flex">
                        <a href="#" class="btn btn-warning bi bi-pencil me-2"></a>
                        <form action="#" method="post">
                          <button onclick="return confirm('Souhaitez-vous supprimer ce genre musical ?');" type="submit" class="btn btn-danger bi bi-trash"></button>
                        </form>
                      </div>
                    </div>
                  </li>
                  <!-- Fee -->
                  <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <h6 class="fw-bold mb-0">Etudiant</h6>
                      </div>
                      <div class="d-flex">
                        <a href="#" class="btn btn-warning bi bi-pencil me-2"></a>
                        <form action="#" method="post">
                          <button onclick="return confirm('Souhaitez-vous supprimer ce genre musical ?');" type="submit" class="btn btn-danger bi bi-trash"></button>
                        </form>
                      </div>
                    </div>
                  </li>
                  <!-- Fee -->
                  <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <h6 class="fw-bold mb-0">Enfant - de 12 ans</h6>
                      </div>
                      <div class="d-flex">
                        <a href="#" class="btn btn-warning bi bi-pencil me-2"></a>
                        <form action="#" method="post">
                          <button onclick="return confirm('Souhaitez-vous supprimer ce genre musical ?');" type="submit" class="btn btn-danger bi bi-trash"></button>
                        </form>
                      </div>
                    </div>
                  </li>                
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
