<!-- Buying Button -->
<div class="col-md-12 text-center mt-3">
    {% set anchor = anchor|default('') %}
    <a href="{{ path('app_ticket_browse') }}{% if anchor %}#{{ anchor }}{% endif %}" class="btn btn-primary light-yellow-bg dark-blue-txt">{{ button_label|default('Billetterie') }}</a>
</div>
