{{ form_start(form) }}
{{ form_widget(form) }}
</div>
<!-- Card footer (containing buttons) -->
<div class="card-footer text-center">
	<button class="btn btn-success fw-bold">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
